<a href="https://colab.research.google.com/github/jiyoung-99/ML_practice/blob/main/%EC%99%80%EC%9D%B8%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.datasets import load_wine
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [ ]:
# 와인 데이터를 로드한다.
wine = load_wine()
# 와인 데이터에서 feature 로 되어있는 데이터를 갖고 온다.
wine_data = wine.data
# 와인 데이터에서 target 데이터를 갖고온다.
wine_target = wine.target
# wine 데이터의 feature, target로 Dataframe을 만든다.
df_wine = pd.DataFrame(data = wine_data, columns=[wine.feature_names])
# feature 만 있는 데이터 프레임에 타겟 데이터를 추가한다.
df_wine['target'] = wine.target
df_wine

    alcohol malic_acid   ash  ... od280/od315_of_diluted_wines proline target
0     14.23       1.71  2.43  ...                         3.92  1065.0      0
1     13.20       1.78  2.14  ...                         3.40  1050.0      0
2     13.16       2.36  2.67  ...                         3.17  1185.0      0
3     14.37       1.95  2.50  ...                         3.45  1480.0      0
4     13.24       2.59  2.87  ...                         2.93   735.0      0
..      ...        ...   ...  ...                          ...     ...    ...
173   13.71       5.65  2.45  ...                         1.74   740.0      2
174   13.40       3.91  2.48  ...                         1.56   750.0      2
175   13.27       4.28  2.26  ...                         1.56   835.0      2
176   13.17       2.59  2.37  ...                         1.62   840.0      2
177   14.13       4.10  2.74  ...                         1.60   560.0      2

[178 rows x 14 columns]

In [ ]:
# x_training, x_
x_training, x_test, y_training, y_test = train_test_split(wine_data, wine_target, test_size=0.3)

In [ ]:
dtc = DecisionTreeClassifier()
dtc.fit(x_training, y_training)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
predict = dtc.predict(x_test)
print(predict)

[1 2 0 0 0 0 2 1 1 0 0 1 2 0 1 1 1 0 0 2 1 0 1 1 0 1 2 0 1 1 0 0 2 1 0 2 2
 0 2 1 2 1 0 1 0 1 1 1 2 0 0 0 2 2]

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, predict))

0.7777777777777778